<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="connString" connectionString="Server=.;DataBase=Students_Information_Sys;Uid=sa;Pwd=CXQ@513" />
    <add name="Students_Information_Sys.Properties.Settings.Students_Information_SysConnectionString"
      connectionString="Data Source=CXQ-PC;Initial Catalog=Students_Information_Sys;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="Automaticlogon" value=""/>
    <add key="RemberPwd" value=""/>
    <add key="UserName" value=""/>
    <add key="UserPwd" value=""/>
    <add key="sysVersion" value="1.0" />
  </appSettings>
</configuration>